<div id="response">
    <div class=" toolbar flex-auto mb-auto  ">
 
      <nav class="navbar">
        <a class="logo">
          <img src="./assets/images/TheGuild_Logo.png" alt="TheGuild_Logo" style=" width: 200px;vertical-align: middle;">
        </a>
        <ul class="nav-links">
          <li class="nav-item"><a href="#">About Us</a></li>
          <li class="nav-item"><a href="#">Pricing</a></li>
          <li class="nav-item"><a href="#">Contact</a></li>
          <li class="nav-item"><a href="#">Log in</a></li>
        </ul>
      </nav>
      <!-- <button class="hamburger">
        <div class="bar"></div>
      </button> -->
    </div>
    <div class="body" role="main">
 
 
      <div class="grid  surface-section text-800" role="banner">
        <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
          <section>
            <span class=" block text-5xl font-bold mb-1 ">ALUMNI MANAGEMENT SOFTWARE</span>
            <div class=" text-4xl text-primary font-bold mb-3">FOR YOUR COMMUNITY</div>
            <p class="mt-0 mb-4 text-1000 line-height-3">Build strong and meaningful relationships with our Alumni
              Management
              Platform.</p>
 
            <button pButton pRipple label="Sign Up" type="button" class="mr-3 p-button-raised"></button>
          </section>
        </div>
        <!-- bg-no-repeat -->
        <div class="graduation col-12 md:col-6  overflow-hidden align-items-center">
          <img src="./assets/images/graduation.png" alt="graduationImage" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
        </div>
      </div>
    </div>
 
 
    <div class="clients mx-auto px-100% py-40% md:px-6 lg:px-8 text-center ">
 
      <div class="mt-0 mb-4 text-700 line-height-3">Educational and Nonprofit organizations around the country choose
        The Guild to
        manage
        their alumni networks.</div>
      <div class="card">
        <div class="flex flex-wrap align-items-center justify-content-center">
 
          <div class="bg-left bg-no-repeat w-10rem h-10rem  border-round m-3"
            style="background-image: url('./assets/images/jkuat_logo.png'); background-size: 80%;"></div>
          <div class="bg-center bg-no-repeat w-10rem h-10rem  border-round m-3"
            style="background-image: url('./assets/images/kemulogo.jpg'); background-size: 80%;"></div>
          <div class="bg-right bg-no-repeat w-10rem h-10rem border-round m-3"
            style="background-image: url('./assets/images/ku_logo.png'); background-size: 80%;"></div>
          <div class="bg-right bg-no-repeat w-10rem h-10rem border-round m-3"
            style="background-image: url('./assets/images/UoN_logo.jpg'); background-size: 100%"></div>
        </div>
      </div>
    </div>
 
    <div class="products px-4 py-8 md:px-6 lg:px-8 text-center">
      <div class="mb-3 font-bold text-3xl">
        <span class="text-900">One Product, </span>
        <span class="text-blue-600">Many Solutions</span>
      </div>
      <div class="text-700 mb-1">With best-in-class capabilities that rival many standalone solutions,
      </div>
      <div class="text-700 mb-6">The Guild's
        all-in-one engagement and fundraising platform brings value to your alumni at all ages and stages of their
        lives.
      </div>
 
      <div class="grid overflow-auto ">
        <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
            <i class="pi pi-chart-bar text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Ad Hoc Reports</div>
          <span class="text-700 line-height-3">Business intelligence process used to quickly create reports on an
            as-needed basis</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
            <i class="pi pi-envelope text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Bulk Email Communications</div>
          <span class="text-700 line-height-3">Send mass email messages to multiple lists of alumni at a specified
            time.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
            <i class="pi pi-calendar text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Event Management</div>
          <span class="text-700 line-height-3">Plan, execute and manage alumni events from start to finish.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
            <i class="pi pi-check-circle text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Easy To Use</div>
          <span class="text-700 line-height-3">Easy to use UI with customizable themes to suit your preference</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
            <i class="pi pi-globe text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Global Support</div>
          <span class="text-700 line-height-3">Connect with your community from anywhere around the world.</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
            <i class="pi pi-shield text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Trusted Securitty</div>
          <span class="text-700 line-height-3">The community's data is safeguard using leading edge encryption
            solutions.</span>
        </div>
      </div>
    </div>
    <div class="footer px-4 py-8 md:px-6 lg:px-8">
      <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3">POWERED BY THE GUILD</div>
        <div class="text-900 font-bold text-5xl mb-3">Start Creating Connections For Life</div>
        <div class="text-700 text-2xl mb-5">Ready to unleash the power of your community?</div>
        <button pButton pRipple label="Join Now"
          class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
      </div>
 
 
    </div>
 
 
  </div>