<app-header></app-header>
<div id="container">
    <div id="contentArea">
        <div class="content">
            <div><h1>Alumni List</h1></div>
            <!--<p-table *ngIf="hasData" [value]="members" [paginator]="true" [rows]="12">-->
                <p-table *ngIf="hasData;else hasNoDataBlock" [value]="members" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:10%">Id</th>
                        <th style="width:25%">Name</th>
                        <th style="width:25%">Email</th>
                        <th style="width:25%">Phone</th>
                        <th style="width:15%;">Completion Year</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-member>
                    <tr>
                        <td>{{member.id}}</td>
                        <td>{{member.name}}</td>
                        <td>{{member.email}}</td>
                        <td>{{member.phoneNumber}}</td>
                        <td>{{member.completionYear}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <ng-template #hasNoDataBlock><h4>No data to show yet</h4></ng-template>
        </div>
        <app-admin-sidebar-desktop></app-admin-sidebar-desktop>
    </div>
</div>