.events{
  display: flex;
  background-color: #ffffff;
  flex-wrap: wrap;
  justify-content: space-between;
}


.event {
  width: calc(33.33% - 20px);
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .event {
    width: 100%;
  }
}