<div class="events">
    <div class="events-announcements">
    <h1><a href="#events">Events</a></h1>
    </div>
    <div class="site-image1">
        <button type="button" class="btn btn-primary">
        <img src="/assets/event_subscribe.png" class="img-responsive" height="140" width="220">
        </button>
    </div>
    <div class="site-image2">
        <button type="button" class="btn btn-primary">
        <img src="/assets/event_subscribe (1).png" class="img-responsive" height="140" width="220">
        </button>
    </div>
    <div class="site-image3">
        <button type="button" class="btn btn-primary">
        <img src="/assets/event_subscribe (2).png" height="140" width="220" class="img-responsive">
        </button>
    </div>
</div>
