<div class="events">
  <div class="event">
    <h3 class="event-title">Event 1</h3>
    <p class="event-date">January 30, 2023</p>
    <p class="event-description">Description of Event 1</p>
  </div>
  <div class="event">
    <h3 class="event-title">Event 2</h3>
    <p class="event-date">February 5, 2023</p>
    <p class="event-description">Description of Event 2</p>
  </div>
  <div class="event">
    <h3 class="event-title">Event 3</h3>
    <p class="event-date">February 15, 2023</p>
    <p class="event-description">Description of Event 3</p>
  </div>
</div>
