.topnav {
  overflow: hidden;
  background-color: #2effc08c;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}
@media (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
}