.main{
    height: 352px;
    padding: 26px 60px;
    display: flex;
    background-color: #A5FAFA;
}
@media (max-width: 768px) {
  .main {
    height: auto;
  }
  .site-image img {
    width: 100%;
    height: auto;
  }
}