::ng-deep .p-inputtext {background-color: aqua;}

.searchContainer{
    margin-top: 5vh;
    padding-left: 5vw;
    display: flex;
    width: 100vw;
    flex-direction: row;
    gap: 5vw;
    margin-bottom: 2vh;

}

@media only screen  and (max-width : 1280px) {
    .searchContainer{
        padding-left: 5%;
        flex-direction: column;
        gap: 26px;   
    }
}