<div class="mainArea">
  <app-header></app-header>
  <!-- <app-login></app-login> -->
    <!-- <app-signup-form></app-signup-form> -->
   <!--<router-outlet></router-outlet> -->
   <app-container></app-container>
  <!--<app-admin-menubar></app-admin-menubar>-->
  <!--<app-all-alumni></app-all-alumni>-->
  <!--<app-event-subscribe></app-event-subscribe>-->
  <!--<app-alumni-between></app-alumni-between>-->
  <!--<router-outlet></router-outlet>-->
  <!--<app-customize-component></app-customize-component>-->
</div>
<app-footer></app-footer>