<app-admin-menubar></app-admin-menubar>
<div><h1>Events List</h1></div>
<p-table *ngIf="events.length>0;else hasNoDataBlock" [value]="events" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:10%">Id</th>
            <th style="width:30%">Name</th>
            <th style="width:40%">Description</th>
            <th style="width:10%">Date</th>
            <th style="width:10%">Action</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-events>
        <tr>
            <td>{{events.eventId}}</td>
            <td>{{events.eventName}}</td>
            <td>{{events.eventDescription}}</td>
            <td>{{events.formattedDate}}</td>
            <td><p-button label="subscribers" (onClick)="showSubscribers(events)"></p-button></td>
        </tr>
    </ng-template>
</p-table>
<ng-template #hasNoDataBlock><h4>No data to show yet</h4></ng-template>