
<link rel=”stylesheet” href="bulk-email.component.css">


<div class="event surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div>
        <label for="event1" class="block text-900 font-medium mb-2">Event Name</label>
        <input id="event1" type="text" placeholder="Event Name" class="w-full mb-3">
    </div>
    <div>
        <label for="event1" class="block text-900 font-medium mb-2">Event Date</label>
        <input id="event1" type="text" placeholder="Event Date" class="w-full mb-3">
    </div>
    <div>
        <label for="event2" class="block text-900 font-medium mb-2">Event Description</label>
        <textarea id="event2" type="text" placeholder="Event Description" class="w-full h-10rem mb-3"></textarea>
    </div>
    <button pButton pRipple label="Create Event" type="button" class="send mr-3 p-button-raised"></button>
</div>